<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary shadow-sm">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/admin-site">
          <i class="pi pi-home pr-1"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/courses">
          <i class="pi pi-map pr-1"></i>
          Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/student">
          <i class="pi pi-users pr-1"></i>Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/admin/users">
          <i class="pi pi-cog pr-1"></i>User Admin</a>
      </li>
    </ul>
    <button class="btn btn-outline-light" type="submit">
      <i class="pi pi-sign-in pr-2"></i>
      Sign in</button>
  </div>
</nav>
