<div class="card shadow-sm pb-2">
  <div class="card-header bg-warning">
    <h4 class="text-white">Tutors / Admin - Sign in</h4>
  </div>
  <div class="card-body">
    <form class="form-signin">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control m-2" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control m-2" placeholder="Password" required>
      <div class="checkbox  m-2 mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-outline-warning" type="submit">
        <i class="pi pi-sign-in pr-2"></i>
        Sign in</button>
    </form>
  </div>
</div>
