<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="franchise">
          <i class="fas fa-archway"></i> Fanchises
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses">
          <i class="fas fa-book"></i> Courses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-student">
          <span data-feather="file"></span>
          Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="topics">
          <span data-feather="file"></span>
          Question Admin
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">
          <span data-feather="file"></span>
          User Admin
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2"></span>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          Integrations
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Favourites</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/practice-questions">
          <span data-feather="file-text"></span>
          Practice Questions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/exam-questions">
          <span data-feather="file-text"></span>
          Exam Questions
        </a>
      </li>
    </ul>
  </div>
</nav>
